{% extends "main_html/wrapper.html" %}

{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Web Host Searcher</h1>
      <p class="lead text-muted">Welcome. This is a web-application for scanning your local network for other devices. Follow instructions on the screen.</p>
      <p>
        <a href="/getmydata" class="btn btn-primary my-2">New Scan</a>
        <a href="/result" class="btn btn-secondary my-2">Show Results</a>
      </p>
    </div>
    </section>

{% endblock %}