<table title="Home Host">
<tr>
    <td class="text-left"><text class="text-info">Hostname:</text></td>
    <td class="text-right">{{ home_host.hostname }}</td>
</tr>
<tr>
    <td class="text-left"><text class="text-info">OS Type:</text></td>
    <td class="text-right">{{ home_host.os_type }}</td>
</tr>
<tr>
    <td class="text-left"><text class="text-info">OS Name:</text></td>
    <td class="text-right">{{ home_host.os_name }}</td>
</tr>
<tr>
    <td class="text-left"><text class="text-info">IP Address:</text></td>
    <td class="text-right">{{ home_host.ip_address }}</td>
</tr>
<tr>
    <td class="text-left"><text class="text-info">MAC Address:</text></td>
    <td class="text-right">{{ home_host.mac_address }}</td>
</tr>
<tr>
    <td class="text-left"><text class="text-info">Network Address:</text></td>
    <td class="text-right">{{ home_host.network_address }}</td>
</tr>
<tr>
    <td class="text-left"><text class="text-info">Subnet Mask:</text></td>
    <td class="text-right">{{ home_host.subnet_mask }}</td>
</tr>
<tr>
    <td class="text-left"><text class="text-info">Broadcast Address:</text></td>
    <td class="text-right">{{ home_host.broadcast_address }}</td>
</tr>

</table>